<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Додати категорію</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div class="container">
    <nav>
        <div class="dropdown">
            <button class="dropbtn">Меню &#9662;</button>
            <div class="dropdown-content">
                <a href="/">Головна</a>
                <a href="/facts/random/">Рандомний факт</a>
                <a href="/facts/categories/">Категорії</a>
                <a href="/facts/add/">Додати факт</a>
                <a href="/facts/add-category/">Додати категорію</a>
                <a href="/facts/saved/">Збережені факти</a>
            </div>
        </div>
    </nav>
    <h1>Додати нову категорію</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Додати категорію">
    </form>
</div>
</body>
</html> 