<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>📚 Категорії фактів</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div class="container">
    {% include 'header.html' %}
    <h1>📚 Категорії фактів</h1>
    {% if categories %}
        <ul>
            {% for category in categories %}
                <li class="category-block">{{ category.name }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <div>Категорій ще немає.</div>
    {% endif %}
</div>
</body>
</html> 