<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>📚 Категорії фактів</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div class="container">
    <nav>
        <div class="dropdown">
            <button class="dropbtn">Меню &#9662;</button>
            <div class="dropdown-content">
                <a href="/">Головна</a>
                <a href="/facts/random/">Рандомний факт</a>
                <a href="/facts/categories/">Категорії</a>
                <a href="/facts/add/">Додати факт</a>
                <a href="/facts/add-category/">Додати категорію</a>
                <a href="/facts/saved/">Збережені факти</a>
            </div>
        </div>
    </nav>
    <h1>📚 Категорії фактів</h1>
    {% if categories %}
        <ul>
            {% for category in categories %}
                <li class="category-block">{{ category.name }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <div>Категорій ще немає.</div>
    {% endif %}
</div>
</body>
</html> 