<nav>
    <div class="dropdown">
        <button class="dropbtn">Меню &#9662;</button>
        <div class="dropdown-content">
            <a href="/">Головна</a>
            <a href="/facts/random/">Рандомний факт</a>
            <a href="/facts/categories/">Категорії</a>
            <a href="/facts/all/">Всі факти</a>
            <a href="/facts/add/">Додати факт</a>
            <a href="/facts/add-category/">Додати категорію</a>
            <a href="/facts/saved/">Збережені факти</a>
        </div>
    </div>
</nav> 